<!-- <div class="seller-auth" >
    <div class="signup">
        <h1>Seller Sign-up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input" type="text" placeholder="Enter Name" name="name" ngModel>
            <input class="form-input" type="password" placeholder="password" name="password" ngModel>
            <input class="form-input" type="text" placeholder="Enter Email" name="email"  ngModel>
            <button class="form-button">signup</button>
        </form>
    </div>
</div> -->
<div class="seller-auth" >

</div>
